server {
    listen              443 ssl http2;
    server_name        {{ inventory_hostname }};
    ssl_certificate     /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem;
    ssl_protocols       TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;
    root /var/www/html/;
    index index.html;
       location / {
		try_files $uri $uri/ =404;
       }
       location /{{ shadowsocks_path }} {
         proxy_redirect off;
         proxy_pass http://{{ shadowsocks_addr }}:{{ shadowsocks_port }};
         proxy_http_version 1.1;
         proxy_set_header Upgrade $http_upgrade;
         proxy_set_header Connection "upgrade";
         proxy_set_header Host $http_host;
}
}
