{
    "server":["{{ shadowsocks_addr }}"],
    "mode":"tcp_only",
    "server_port":{{ shadowsocks_port }}, 
    "password":"{{ shadowsocks_passwd }}",
    "timeout":{{ shadowsocks_timeout }},
    "method":"{{ shadowsocks_encrypt }}",
    "fast_open": true,
    "reuse_port": true,
    "workers": 1,
    "plugin": "ss-v2ray-plugin",
    "plugin_opts": "server;path=/{{ shadowsocks_path }};loglevel=none",
    "nameserver": "{{ shadowsocks_nameserver}}",
    "no_delay": true
}
