{
    "server":"{{ inventory_hostname }}",
    "mode":"tcp_only",
    "local_port":"{{ shadowsocks_local_port }}",
    "server_port":443,
    "password":"{{ shadowsocks_passwd }}",
    "method":"{{ shadowsocks_encrypt }}",
    "plugin": "v2ray-plugin",
    "plugin_opts": "tls;path={{ shadowsocks_path }};host={{ inventory_hostname }};loglevel=none"
}
